* {
  margin: 0;
  padding: 0;
  color: #333333;
  line-height: 1.5;
  letter-spacing: -0.4;
  font-size: 16px;
  text-decoration: none;
  box-sizing: border-box;
  list-style: none;
}
.wrap {
  width: 1200px;
  margin: auto;
  justify-content: center;
  background: #dddddd;
}
#header {
  display: flex;
  justify-content: space-between;
  height: 100px;
  background: #cecece;
}
#logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
#header #logo a {
  display: flex;
  align-items: center;
  width: 200px;
  height: 40px;
}
#gnb {
  display: block;
}
#gnb .depth1 {
  display: flex;
}
.depth1 > li > a {
  display: flex;
  padding: 0 10px;
  height: 100px;
  align-items: center;
  background: #7f9dff;
}
#gnb .depth1 :hover {
  background: #ffb340;
}
#gnb .depth1 :hover .depth2 {
  display: block;
}
#gnb .depth2 {
  display: none;
}

.slide {
  display: flex;
  flex-direction: row;
  height: 300px;
}

.slide ul {
  display: flex;
}
.slide a {
  display: flex;
  height: 300px;
}
.slide a img {
  display: block;
}
main {
  display: flex;
  justify-content: space-between;
  height: 200px;
}

.sec-g .sec-bbs {
  display: block;
}
.sec-g {
  /* display: flex; */
  width: 33.3333%;
  /* flex-grow: 1; */
  /* flex-basis: 0; */
  height: 200px;
}
.sec-g ul {
  display: flex;
  justify-content: space-between;
}
.sec-g .list-bbs {
  display: block;
}
.sec-glr .sec-tit,
.sec-bnr .sec-tit {
  text-indent: -9999px;
  line-height: 0;
}
.sec-glr {
  display: flex;
  justify-content: center;
  align-items: center;
}
.list-glr {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.list-glr li {
  width: 30%;
}

.list-glr li a {
  display: flex;
  height: 80px;
}

.sec-bnr a {
  display: flex;
  height: 200px;
  justify-content: center;
  text-indent: -9999px;
}
